@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Nunito Sans, sans-serif;
}

@layer utilities {
  .ctr {
    @apply px-10 md:px-24 lg:px-40;
  }
  .nav {
    @apply sticky w-full px-4 md:px-10 lg:px-24 bg-white border-t-4 shadow-md py-3 border-primary-1;
  }
  .tag {
    @apply text-xs font-semibold text-gray-500 bg-gray-300 px-2 py-1 rounded uppercase;
  }
  .bt {
    @apply grid place-content-center rounded-xl h-10 text-sm 
    duration-200 font-bold focus:outline-none hover:bg-primary-2 hover:text-primary-1
    active:bg-white active:ring-2 active:ring-primary-2
    focus:bg-white focus:ring-2 focus:ring-primary-2 focus:text-primary-1
    disabled:bg-transparent disabled:text-gray-400 ;
  }
  .h-more {
    height: 40rem;
  }
}

.mobile {
  display: block;
}

.desk {
  display: none;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  'left left left'
  'right right right';
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desk {
    display: block;
  }
  .profile {
    grid-template-areas: 'left right right';
  }
}
.profile .right { grid-area: right; }
.profile .left { grid-area: left; }